<div class="container mt-3" data-controller="multistage-step3-output">
  <h3 data-multistage-step3-output-target="title">Here’s a breakdown of your time:</h3>
  <canvas data-multistage-step3-output-target="timeBreakdown"></canvas>
  <p>Unavoidable vs free time</p>
  <canvas data-multistage-step3-output-target="timeBreakdownDetail"></canvas>
  <p>Unavoidable vs free time vs key relationship</p>

  <button type="button"
    class="primary-btn"
    data-action="click->multistage-step3-output#secondStepOutput"
    data-multistage-step3-output-target="nextBtn">Next</button>
</div>
