<div class="container mt-3" data-controller="multistage-step3-output">
  <h3 data-multistage-step3-output-target="title"></h3>
  <canvas data-multistage-step3-output-target="timeBreakdown"></canvas>
  <canvas data-multistage-step3-output-target="timeBreakdownDetail"></canvas>

  <button type="button"
    class="primary-btn"
    data-action="click->multistage-step3-output#secondStepOutput"
    data-multistage-step3-output-target="nextBtn">Next</button>
</div>
