<div data-controller="multistage-step2-output">
  <div class="status-bar">
    <div class="status" role="statusbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" data-multistage-step2-output-target="status"></div>
  </div>

  <h3 data-multistage-step2-output-target="title"></h3>
  <div class="d-flex justify-content-center">
    <table data-multistage-step2-output-target="table"></table>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button"
      class="primary-btn"
      data-action="click->multistage-step2-output#secondStepOutput"
      data-multistage-step2-output-target="nextBtn">Next</button>
  </div>
  <button type="button"
    class="secondary-btn"
    data-multistage-step2-output-target="backBtn"
    data-action="click->multistage-step2-output#backToInput">Back</button>
</div>
