// Define variables for your color scheme

// For example:
$red: #ff7777;
$blue: #045346;
$yellow: #FFC477;
$orange: #E67E22;
$green: #A8D5BA;
$gray: #F9D5A7;
$light-gray: #FCECDD;

// CUSTOM FONT COLOURS
$font-color: #303030;
