// Define variables for your color scheme

// For example:
$red: #ff7777;
$blue: #225246;
$yellow: #FFC477;
$orange: #E67E22;
$green: #a8d5ba;
$gray: #F9D5A7;
$light-gray: #FCECDD;

// CUSTOM FONT COLOURS
$font-color: #303030;
