// Define variables for your color scheme

// For example:
$red: #ff7777;
$blue: #225246;
$yellow: #FFC477;
$orange: #E67E22;
$green: #a8d5ba;
$gray: #F9D5A7;
$light-gray: #FCECDD;

// CUSTOM FONT COLOURS
$font-color: #303030;
$secondary-font: #747474;

// CATEGORY COLOURS FOR CHIPS AND PIE CHARTS
$parents: #a9ccf1;
$children: #f3e749;
$relationship: #FF9696;
$family: #96e3ff;
$friends: #ff96f8;
$giving_back: #a096ff;
$creativity: #62af51;
$travel: #8eb5e2;
$learning: #41cdb1;
$wellbeing: #ffb26b;
$spirituality: #d488fa;
$pets: #FF9696;
$unavoidables: #132e27;
$free_time: #a8d5ba
