// Specific CSS for your home-page
.header-banner {
  width: 100%;
  height: 65vh;
  background-image: url("https://media.istockphoto.com/id/155287967/photo/cars-in-rush-hour-with-traffic-at-dawn.jpg?s=612x612&w=0&k=20&c=tDAaJQMHIh6nFDr0rJlD44tEtmj2srdpoSTKL7C5SGE=");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -39px
  // filter: grayscale(100%) sepia(30%) brightness(30%);
}


.filter {
  height: 65vh;
  width: 100vw;
  backdrop-filter: grayscale(100%) sepia(30%) brightness(30%);
  position: absolute;
  left: 0
}

.header-content h2, .header-banner p {
  position: relative;
  top: 0;
  color: white;
  ;
}
