.container.step1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

// Default table used for the circles per year
table {
  border-collapse: separate;
  border-spacing: 8px; // Horizontal and vertical spacing of the cells

  td {
    padding: 5px 0; // Adding additional vertical spacing through padding
  }
}

.year-circle {
  height: 20px;
  width: 20px;
  background-color: white;
  transition: background-color 0.2s ease-in-out; // This will be used when the .colored class is added

  border: 1px solid $blue;
  border-radius: 50%;

  &.colored {
    background-color: $blue;
  }
}

// Table used for the circles per day
table.days {
  border-collapse: separate;
  border-spacing: 2px; // Horizontal and vertical spacing of the cells

  td {
    padding: 1px 0; // Adding additional vertical spacing through padding
  }
}

.year-circle-small {
  height: 4px;
  width: 4px;
  background-color: white;
  transition: background-color 0.2s ease-in-out; // This will be used when the .colored class is added

  border: 0.1px solid $blue;
  border-radius: 50%;

  &.colored {
    background-color: $blue;
  }
}

.errors-container {
  margin-top: 5px;
}

.error {
  display: block;
  color: rgb(215, 16, 16);
}

// Step 2
#step2_data_contact_days, #step2_data_meet_date {
  width: 60px;
}
