.reviews-container {
  width: 100%;
  margin: 0 auto;
  padding: 8px 4px;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid $green;
}

#reviews-add {
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
}

#reviews-form {
  border-top: 1px solid $green;
  padding: 0 4px;

  visibility: hidden;
  height: 0;
  transform: scale(0);
  transform-origin: top left;

  &.show {
    visibility: visible;
    height: auto;
    padding: 8px 4px;
    transform: scale(1);
  }
}

.reviews-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 0;
  border-top: 1px solid $green;
  border-bottom: 1px solid $green;

  p {
    color: $blue;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

#sortby-container {
  position: relative;
}

#sortby-button {
  position: relative;
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  margin: 0;
  z-index: 5; // To be placed above the menu when it pops out
}

#sortby-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 4; // To be placed below the sortby button when it pops out

  visibility: hidden;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s ease-out;

  white-space: nowrap; // Avoids wrapping the text of the links
  padding: 8px 12px;

  background-color: $gray;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 lightgray;

  a {
    display: block;
    text-decoration: none;
    color: $blue;
    font-weight: 500;
    margin: 4px 0;
  }

  &.visible {
    visibility: visible;
  }

  &.show {
    transform: scale(1);
  }
}

.card-review {
  padding: 8px 0;
  border-bottom: 1px solid rgba(206, 206, 206, 0.7);
}

.review-header {
  padding: 0 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p{
    margin: 0;
  }
}

.review-stars {
  color: $blue;
  font-size: 15px;
}

.review-body {
  margin: 4px 0 0;
  padding: 8px;

  display: flex;
  align-items: end;

  i {
    color: $blue;
    margin-right: 4px;
  }
}

.review-content {
  flex-grow: 1;
  margin: 0 0 4px;

  font-size: 14px;
  color: rgb(71, 71, 71);
}

// New review form ('reviews/review_form')
.review-input {
  padding: 0 8px;
}

.radio-star-container {
  display: flex;
  margin: 3px 0;
  padding: 0 8px;
}

.radio-star {
  position: relative;
}

.radio-btn-star {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
  opacity: 0;
}

.radio-label-star {
  cursor: pointer;
  color: lightgrey;
  font-size: 18px;
  margin: 0 2px;

  &.selected {
    color: $blue;
  }
}

#new-review-button {
  width: fit-content;
  padding: 8px 12px;
  font-size: 16px;
  margin: 0;
}
