// .container {
//   height: 60vh;
//   position: relative;

//   #logs-container {
//     background-color: aquamarine;
//     position: absolute; // Position the row absolutely within the container
//       top: 0; // Start the row at the top of the container
//       left: 0; // Align the row to the left // Make the row full width
//       height: 100%;
//   }
// }

.container {
  height: 100vh; // Set the container height to 100% of the viewport height
  // display: flex; // Use flexbox to align items vertically
  justify-content: center; // Center the items horizontally


}

.logs-container {
  position: fixed; // Position the logs-container fixed to the viewport
  top: 0;
  width: 80%; // Set the width of the logs-container
  height: 50vh; // Set the height of the logs-container
  overflow-y: auto; // Add vertical scrollbar if content overflows
  margin-left: auto; // Push the logs-container to the right
  margin-right: 10%; // Adjust the right margin as needed
}

#left-column {
  left: 0;
  // position: fixed;
}
