.container {
  justify-content: center;
  flex-direction: column-reverse;
  position: relative;
}

#header {
  background: solid
}

// .container {
//   height: 60vh;
//   position: relative;

//   #logs-container {
//     background-color: aquamarine;
//     position: absolute; // Position the row absolutely within the container
//       top: 0; // Start the row at the top of the container
//       left: 0; // Align the row to the left // Make the row full width
//       height: 100%;
//   }
// }


// .logs-container {
//   position: fixed; // Position the logs-container fixed to the viewport
//   top: 0;
//   width: 80%; // Set the width of the logs-container
//   height: 50vh; // Set the height of the logs-container
//   overflow-y: auto; // Add vertical scrollbar if content overflows
//   margin-left: auto; // Push the logs-container to the right
//   margin-right: 10%; // Adjust the right margin as needed
//   background-color:black;
// }

// #past-logs {
// // background-color: black;
//   position: relative;
//   z-index: 2;

// }

// #current-log {
//   position: absolute;
//   top: 100%; /* Adjust as needed */
//   left: 0;
//   z-index: 1;
// }
