// Primary CTA button styling
button {
  all: unset;
}

.primary-btn {
  font-family: "lato", "sans serif";
  font-weight: 500;
  font-size: 15px;
  background-color: $blue; // Primary variable
  color: white;
  // height: 48px;
  align-content: center;
  max-height: 48px;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

// Hover state and Active state (hold down on mobile)
.primary-btn:hover, .primary-btn:active {
  background-color: rgba($color: $blue, $alpha: 0.9);
  color: white;
}
