// Tertiary CTA button styling
button {
  all: unset;
}

.tertiary-btn {
  justify-self: center;
  text-align: center;
  font-family: "lato", "sans serif";
  font-weight: 500;
  color: $blue;
}

.show-btn {
  display: flex;
  align-items: center;
  column-gap: 5px;
  p {
    margin: 0;
    text-decoration: underline;
  }
  i {
    text-decoration: none;
    margin: 0;
  }
}
