<div id="burger-menu">
  <i class="fa-solid fa-bars"></i>
</div>

<div id="menu" class="menu-open">
  <ul class="menu-options">
    <li>Add habit</li>
    <li>Habits</li>
    <li>Categories</li>
  </ul>
</div>
