<div class="header-banner">
    <div class="filter d-flex flex-columns justify-content-center">
      <div class="header-content col-10 col-md-9 col-lg-8 align-self-center">
      <h2>Life is short.<br>Prioritise What Matters.</h2>
      <p>We humans are bad at making time for the things that really matter. This app helps you identify those things and build sustainable habits to prioritise them.</p>
      <%= link_to 'Take the Quiz', step1_input_multistages_path, class: 'btn btn-primary me-1 border-none' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-light' %>
      </div>
    </div>
</div>

<%# HOW IT WORKS %>
<div class="how-it-works mt-5">
  <h3 class="text-center">How It Works</h3>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="pb-5 col-10 col-md-6">
      <p><strong>Step 1</strong></p>
      <p>Take our interactive quiz to get some perspective on the length of your life. It’s later than you think!</p>
      <%= link_to 'Take the Quiz', step1_input_multistages_path, class: 'btn btn-primary' %>
    </div>
    <div class="pb-5 col-10 col-md-6">
      <p><strong>Step 2</strong></p>
      <p>Use our habit builder to create routines that you’ll stick to. Our habit builder is rooted in the scientific research made famous in <a href="https://jamesclear.com/atomic-habits">Atomic Habits</a>.</p>
      <%= link_to 'Sign Up', step1_input_multistages_path, class: 'btn btn-light' %>
    </div>
    <div class="pb-5 col-10 col-md-6">
      <p><strong>Step 3</strong></p>
      <p>Stick to your habits with our Habit Tracker. Log streaks for individual habits and all of your habits combined.</p>
    </div>
  </div>
</div>
