<h1>Got it</h1>
<%= simple_form_for :step1_data, url: step1_submit_multistage_index_path do |f| %>
  <%= f.input :date_of_birth, as: :date %>
  <%= f.button :submit, "Next", class: "primary-btn" %>
<% end %>
