.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba($color: #e5fcee, $alpha: 1);
  border-color: $green;
  color: $blue;
  border-radius: 5px;
}

.alert .btn-close {
  color: $blue;
}
