.legend-label {
  color: rgb(148, 148, 148);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;

  .first {
    color: rgb(107, 170, 131);
  }

  .second {
    color: rgb(34, 82, 70);
  }

  .third {
    color: rgb(255, 119, 119);
  }
}
