.chip {
  display: inline-block;
  padding: 2.5px 8px 2.5px 8px;
  background-color: rgba($color: #dadada, $alpha: 0.3);
  i {color: rgba($color: #dadada, $alpha: 0.7)}
  border-radius: 50px;
  color: $secondary_font;
  font-weight: 300;
}

// INSIDE A HABIT CARD
#parents {
  background-color: rgba($color: $parents, $alpha: 0.15);
  i {color: rgba($color: $parents, $alpha: 0.5)}
}

#children {
  background-color: rgba($color: $children, $alpha: 0.15);
  i {color: rgba($color: $children, $alpha: 0.5)}
}

#relationship {
  background-color: rgba($color: $relationship, $alpha: 0.15);
  i {color: rgba($color: $relationship, $alpha: 0.5)}
}

#family {
  background-color: rgba($color: $family, $alpha: 0.15);
  i {color: rgba($color: $family, $alpha: 0.5)}
}

#friends {
  background-color: rgba($color: $friends, $alpha: 0.15);
  i {color: rgba($color: $friends, $alpha: 0.5)}
}

#giving_back {
  background-color: rgba($color: $giving_back, $alpha: 0.15);
  i {color: rgba($color: $giving_back, $alpha: 0.5)}
}

#creativity {
  background-color: rgba($color: $creativity, $alpha: 0.15);
  i {color: rgba($color: $creativity, $alpha: 0.5)}
}

#travel {
  background-color: rgba($color: $travel, $alpha: 0.15);
  i {color: rgba($color: $travel, $alpha: 0.5)}
}

#learning {
  background-color: rgba($color: $learning, $alpha: 0.15);
  i {color: rgba($color: $learning, $alpha: 0.5)}
}

#wellbeing {
  background-color: rgba($color: $wellbeing, $alpha: 0.15);
  i {color: rgba($color: $wellbeing, $alpha: 0.5)}
}

#spirituality {
  background-color: rgba($color: $spirituality, $alpha: 0.15);
  i {color: rgba($color: $spirituality, $alpha: 0.5)}
}

#pets {
  background-color: rgba($color: $pets, $alpha: 0.15);
  i {color: rgba($color: $pets, $alpha: 0.5)}
}

// HABIT SHOW PAGE (MY HABITS) - STREAK CHIPS

#best {
  background-color: rgba($color: $yellow, $alpha: 0.3);
  color: $font-color;
}

#current {
  background-color: rgba($color: $green, $alpha: 0.3);
  color: $font-color;
}
