.habit-card {
  min-height: 100px;

  .row {
    width: 100%;
    min-height: 130px;
    margin: 0;
  }
  .right {
    position: relative;
  }
  &.last {
    .line {
      height: 50%;
    }
  }
}

.dot {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: $light-gray;
  border-style: dotted;
  border-color: $primary;
  border-width: thick;
  border-width: 0.25em;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.completed {
    background-color: #045436;
    // border-style: dotted;
  }
}

.line {
  position: absolute;
  top: 0; /* Start the line from the top of the card */
  left: 50%; /* Position the line horizontally in the center of the circle */
  transform: translateX(-50%);
  height: 100%; /* Full height of the card */
  width: 2px; /* Width of the line */
  background-color: $primary; /* Color of the line */
    &.completed {
      border: none;
      border-top: 1px dotted black;
    }
}

.text {
  margin-bottom: 20px;
  margin-top: 5px;
    &.completed {
      color: #045436;
  }
}


#today-message {
  margin-top: 15px;
  margin-bottom: 5px;
}
