.habit-card {
  .row {
    width: 100%;
    min-height: 100px;
    margin: 0;
  }
  .right {
    position: relative;
  }
  &.last {
    .line {
      height: 50%;
    }
  }
}


.dot {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: white;
  border-style: solid;
  border-color: #E67E22;
  border-width: thick;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  top: 0; /* Start the line from the top of the card */
  left: 50%; /* Position the line horizontally in the center of the circle */
  transform: translateX(-50%);
  height: 100%; /* Full height of the card */
  width: 2px; /* Width of the line */
  background-color: #E67E22 /* Color of the line */

}
