
.habit-card {
  position: relative;
  min-height: 100px;

  .row {
    width: 100%;
    min-height: 130px;
    margin: 0;
  }

  .left {
    background-color: white;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 5%;
    padding: 5px;

  }

  .right {
    position: relative;
  }
  &.last {
    .line {
      height: 50%;
    }
  }
}

.dot {
  position: absolute;
  height: 80px;
  width: 80px;
  background-color: $light-gray;
  border-style: dotted;
  border-color: $primary;
  border-width: thick;
  border-width: 0.25em;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.completed {
    background-color: #045436;
    // border-style: dotted;
  }
}

.line {
  position: absolute;
  top: 0; /* Start the line from the top of the card */
  left: 50%; /* Position the line horizontally in the center of the circle */
  transform: translateX(-50%);
  height: 100%; /* Full height of the card */
  width: 2px; /* Width of the line */
  background-color: $primary; /* Color of the line */
    &.completed {
      border: none;
      border-top: 1px dotted black;
    }
}

.text {
  margin-bottom: 20px;
  margin-top: 5px;
    &.completed {
      color: #045436;
  }
}

#today-message {
  margin-top: 15px;
  margin-bottom: 5px;
}

.streak {
  display: inline-block;
  padding: 2.5px 8px 2.5px 8px;
  i {color: rgba($color: #dadada, $alpha: 0.7)}
  border-radius: 50px;
  color: $secondary_font;
  font-weight: 300;
}


#two-day-streak {
  background-color: rgba($color: $yellow, $alpha: 0.3);
  border-color: rgba($color: $yellow, $alpha: 1);
  border-style: solid;
}

#three-day-streak {
  background-color: rgba($color: $green, $alpha: 0.3);
  border-color: rgba($color: $green, $alpha: 1);
  border-style: solid;
}

#four-day-streak {
  background-color: rgba($color: #6F73D2, $alpha: 0.3);
  border-color: rgba($color: #6F73D2, $alpha: 1);
  border-style: solid;
}

// Animation for habit completion
.dot::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $blue;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: transform var(--transition-duration, 3s) linear, opacity var(--transition-duration, 3s) linear;

  &.completing {
    transform: scale(1);
    opacity: 1;
  }
}

#completion-message {
  visibility: visible;
  opacity: 0;

  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;

  position: fixed; /* Use fixed positioning to place the div relative to the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 30%;
  z-index: 100;
  background-color: rgba($gray, 0.93);
  padding: 20px;
  box-shadow: 0 0 16px 8px rgba(0,0,0,0.2); /* Optional: Adds a subtle shadow for better visibility */

  transform-origin: center;
  transition: transform 0.3s linear;

  &.display-message {
    visibility: visible;
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);
  }
}

#text-container {
  flex-grow: 1;
  height: fit-content;
  padding: 20px 10px;

  display: flex;
  flex-direction: column;

  h3 {
    margin: 0;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.habit-card.date-start::after {
  content: var(--date-start-content, 'Today'); // Variable is changed in tracker-menu stimulus controller
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50vw);
  width: 100vw;
  height: fit-content;

  color: $green;
  font-weight: bold;
  text-align: end;
  border-top: 2px dashed $green;
  padding: 0 4px;
}
