#header {
  height: 95px;
  background-color: $light-gray;
  position: sticky;
  width: 100%;
  top: 0;
  margin-bottom: 39px;
}

#header-logo {
  height: 60px;
  position: relative;
  top: 25px;
  left: 25px;
}
