#header {
  height: 95px;
  background-color: $light-gray;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  margin-bottom: 39px;
  z-index: 8;
}

#header-logo {
  height: 60px;
  position: absolute;
  top: 25px;
  left: 25px;
}
