.status-bar {
  width: 100%;
  height: 10px;
  margin-bottom: 30px;
  padding: 0;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
}

.status {
  background-color: $blue;
  border-radius: 10px;
  height: 100%;
  transition: width 0.3s linear;
}
