.streak-container {
  align-items: start;
  background-color: $font-color;
  padding: 5px 15px 10px 10px;
}

.streak-container p {
  color: whitesmoke;
  width: 35px;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

#message-streak-container {
  transform: scale(0.6);
}

.streak-number {
  opacity: 1;
  transition: opacity 0.8s ease-out;

  &.updating {
    opacity: 0;
  }
}
