#tracker-side-menu {
  position: fixed;
  top: 175px;
  right: -2px;
  height: 45px;

  display: flex;
  justify-content: end;

  z-index: 3;
}

#side-menu-selector {
  color: $blue;
  font-size: 20px;
  padding: 0 4px;

  display: flex;
  align-items: center;
  // height: auto;
  // max-height: 44px;

  background-color: $green;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#side-menu-options {
  display: flex;
  padding: 0;
  background-color: whitesmoke;
  border: 1px solid $green;

  transform: scale(0);
  transform-origin: right;
  width: 0;

  // transition: transform 0.3s ease-out, width 0.3s ease-out;

  &.show {
    transform: scale(1);
    width: auto;
    padding: 0 8px;
  }
}

.side-menu-btn {
  width: fit-content;
  padding: 4px 8px;
  margin: 6px 8px;
}

#side-menu-habits {
  position: absolute;
  top: 100%;
  right: 16px;

  background-color: whitesmoke;
  border: 1px solid $green;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  width: fit-content;
  padding: 8px 12px;

  transform: scale(0);
  transform-origin: top;
  height: 0;

  // transition: transform 0.3s ease-out, height 0.3s ease-out;

  &.show {
    transform: scale(1);
    height: auto;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

.side-menu-habit {
  color: rgb(128, 128, 128);

  &.included {
    color: $blue;
  }
}
