.habit-show-card {
  position: relative;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

.habit-image {
  width: 100%;
  height: 300px;
  position: relative;
  filter: grayscale(100%) sepia(30%);
  background-size: cover;
  z-index: 0;
}

.habit-content {
  position: relative;
  padding: 33px 21px 3px 21px;
}

.edit-button {
  position: absolute;
  right: 21px;
  bottom: 33px;
  color: $blue;
}

.habit-image-title-area {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0,0,0,0.8) 50%);
  position: absolute;
  bottom: 0;
  width: 100%
}

.habit-title {
  margin-bottom: 10px;
}


.habit-image-title-area h3 {
  margin: 0;
  padding: 40px 21px 27px 21px;
  color: white
}

.day {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 5px
}

.days-of-week {
  max-width: 300px;
}

.active-day {
  background-color: $blue
}

.active-day p {
  font-size: 12px;
  color: white
}

.inactive-day {
  background-color: rgba($color: $secondary-font, $alpha: 0.1);
}

.inactive-day p {
  font-size: 12px;
  color: rgba($color: $secondary-font, $alpha: 1)
}
