.habit-show-card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }


.habit-image {
  width: 100%;
  height: 337px;
  position: relative;
  filter: grayscale(100%) sepia(30%);
  background-size: cover;
  z-index: 0;
}

.habit-content {
  padding: 33px 21px;
}

.habit-image-title-area {
  background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0,0,0,0.8) 50%);
  position: absolute;
  bottom: 0;
  width: 100%
}

.habit-image-title-area h2 {
  margin: 0;
  padding: 40px 21px 27px 21px;
  color: white
}
