// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// GLOBAL STYLING

// REPLACEMENT COLOURS FROM BRANDING
// $red: #ff7777; <= PASTEL RED
// $blue: #045346; <= DEEP GREEN
// $yellow: #FFC477; <= YELLOW
// $orange: #E67E22; <= ORANGE
// $green: #A8D5BA; <= PASTEL GREEN
// $gray: #F9D5A7; <= DEEPER CREAM
// $light-gray: #FCECDD; <= CREAM BACKGROUND

// CORE FONT FAMILIES, WEIGHTS, COLOUR (AND BASE SIZING FOR BODY)

p, li, a {
// body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  // font-size: 13px; <= MINIMUM FONT SIZE (CAPTIONS, LABELS)
  color: #303030
}

h1 {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
  color: #303030
}

h2, h3, h4, h5, h6 {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
  color: #303030;
  margin-bottom: 20px
}

// HEADER SIZINGS (GOLDEN RATIO)

h1 {
  font-size: 42px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: rgba($color: $blue, $alpha: 0.6);
}

a:hover {
  text-decoration: none;
  color: rgba($color: $blue, $alpha: 0.45);
}
