<div class="card-review">
  <div class="review-stars">
    <% review.rating.times do %>
      <i class="fa-solid fa-star star"></i>
    <% end %>
  </div>
  <p class="review-content"><%= review.content %></p>
</div>
