<div data-controller="reviews">
  <h3>Find out what other <em>habiteers</em> think about What Matters</h3>
  <div id="reviews-add" class="primary-btn" data-action="click->reviews#showForm">Leave a Success Story</div>
  <div id="reviews-form" data-reviews-target="formDisplay">
    <%= render 'review_form', review: @review %>
  </div>
  <div class="reviews-container" data-reviews-target="container">
    <div class="reviews-title">
      <p data-reviews-target="label">Success Stories - Recent</p>
      <div id="sortby-container">
        <button id="sortby-button" class="primary-btn" data-action="click->reviews#sortbyMenu">Sort by <i class="fa-solid fa-caret-down"></i></button>
        <div id="sortby-menu" data-reviews-target="menu">
          <a href="#" data-action="click->reviews#recentSort">Recent</a>
          <a href="#" data-action="click->reviews#ratingHighSort">Rating - High to low</a>
          <a href="#" data-action="click->reviews#ratingLowSort">Rating - Low to high</a>
          <a href="#" data-action="click->reviews#myReviewsSort">My Success Stories </a>
        </div>
      </div>
    </div>
    <% @reviews.each do |review| %>
      <%= render 'review', review: review %>
    <% end %>
  </div>
</div>
