<h3>Find out what other <em>habiteers</em> think about What Matters</h3>
<div class="reviews-container">
  <% @reviews.each do |review| %>
    <%= render 'review', review: review %>
  <% end %>
</div>
