
<div class="habit-card d-flex last">
  <div class="row">
    <div class="col-6 left">
    </div>
    <div class="col-6 right">
      <div class="first-line"></div>
      <span class="last-dot"> Text in circle?
       </span>

    </div>
  </div>
</div>
