<div class="card-container">
  <div class = "row">
    <h2>Current Log button</h2>
      <div class = "col-6 card-left">
        Left hand side
      </div>
      <div class = "col-6 card-right">
        <span class="dot"></span>
        <div class="line"></div>
      </div>
  </div>
</div>
