
<div class="habit-card d-flex last">
  <div class="row">
    <div class="col-7 left">
     <h4>That was your first 90 days. How did you get on?</h4>
    </div>
    <div class="col-5 right">
      <div class="last-line"></div>
      <div class = "sun">
      <i class="fa-regular fa-sun fa-2xl"></i></i>
      </div>

    </div>
  </div>
</div>
