
<div class="habit-card d-flex last">
  <div class="row">
    <div class="col-7 left">
      Your future good habits await!
    </div>
    <div class="col-5 right">
      <div class="last-line"></div>
      <span class="last-dot"></span>

    </div>
  </div>
</div>
