
<% habit.logs.each do  |log|%>
  <div class="habit-card d-flex">
    <div class="row">
      <div class="col-6 left">
        <p><%= habit.title %></p>
        <p><%= log_date = log.date_time.strftime("%Y-%m-%d %H:%M") %></p>
        <p><%= log.completed %></p>
      </div>
      <div class="col-6 right">
        <span class="dot"></span>
        <div class="line"></div>
      </div>
    </div>
  </div>
<% end %>
