
<% habit.logs.each do  |log|%>
  <div class="habit-card d-flex" data-controller="log-click" data-log-click-date-value="<%=log.date_time.strftime("%Y-%m-%d %H:%M") %>" data-log-scroll-target="log" >
    <div class="row">
      <div class="col-6 left">
        <h6>Habit is to <%= habit.title %></h3>
        <%# <p data-loader-log-date-value= #{log.date}></p> %>
        <%if log.completed  %>
        <p>Well done! You completed on <%= log_date = log.date_time.strftime("%Y-%m-%d %H:%M") %></p>
        <%else  %>
        <p>Not completed </p>
        <%end  %>

      </div>
      <div class="col-6 right">
        <div class="line"></div>
        <%if log.completed  %>
          <span class="dot-green" data-log-click-target = "circle" data-action="click->log-click#handleDotClick"></span>
        <%else  %>
          <span class="dot-blank" data-log-click-target = "circle" data-action="click->log-click#handleDotClick"></span>
        <%end  %>
      </div>
    </div>
  </div>
<% end %>
