    <div class="streak-container d-flex align-items-center chip">
      <dotlottie-player src="https://lottie.host/45e690da-a55b-482f-9310-6e832b0189b1/FDu3sl7wBs.json" background="transparent" speed="1" style="width: 100px; height: 100px; margin: -10px -20px -30px -20px" loop autoplay></dotlottie-player>
      <p class="me-2 streak-number"></p>
    </div>
