<div id="add-habit-form" class="col-11 col-md-6 col-lg-4 col-xl-4">
  <h3>Add a habit</h3>
  <%# FORM IF WE HAVE DATA ON A PARENT RELATION %>
  <% if session[:user_data]["step2"]["relation_to"] == "Parent" %>
    <%= render partial: 'habits/form_parent' %>
  <%# FORM IF WE HAVE DATA ON A CHILD RELATIONSHIP %>
  <% elsif session[:user_data]["step2"]["relation_to"] == "Child" %>
    <%= render partial: 'habits/form_child' %>
  <%# FORM IF WE HAVE DATA ON A PARTNER RELATIONSHIP %>
  <% elsif session[:user_data]["step2"]["relation_to"] == "Partner" %>
    <%= render partial: 'habits/form_partner' %>
  <%# FORM IF WE HAVE DATA ON ANY OTHER RELATIONSHIP (DEFAULT) %>
  <% else %>
    <p>default form goes here</p>
  <% end %>
</div>
