<div class="container" data-controller="logs-container-scroll">
  <div>
    <% @scare_crow_habits.each do |habit| %>
      <div data-logs-container-scroll-target = "date-scroll" data-action="click->logs-container-scroll#scroll">
        <%= render 'habits/habit_card', habit: habit %>
      </div>
    <% end %>
    <%= render 'habits/habit_button_card'%>
  </div>
</div>
