<div id="tracker-menu">
  <div id="tracker-input">
    <div class="input-month"><%= Date.today.strftime("%B") %> <i class="fa-solid fa-caret-down"></i></div>
    <div class="input-year"><%= Date.today.year %> <i class="fa-solid fa-caret-down"></i></div>
  </div>
  <div id="tracker-days">
  </div>
</div>

<div class="container col-11 col-md-6 col-lg-4 col-xl-4" data-controller="log-scroll">
  <div>
    <% @scare_crow_habits.each do |habit| %>
      <div>
        <%= render 'habits/habit_card', habit: habit %>
      </div>
    <% end %>
    <%= render 'habits/habit_button_card'%>
  </div>
  <div id="completion-message">
    <div id="logo-container">
      <div class="logo-line top"></div>
      <div id="logo-circle"></div>
      <div class="logo-line bottom"></div>
    </div>
    <div id="text-container"></div>
  </div>
</div>
